[submodule "external_modules/micropython-async"]
	path = external_modules/micropython-async
	url = https://github.com/peterhinch/micropython-async
[submodule "external_modules/pysmartnode"]
	path = external_modules/pysmartnode
	url = https://github.com/kevinkk525/pysmartnode
[submodule "external_modules/M5Atom_matrix_library"]
	path = external_modules/M5Atom_matrix_library
	url = https://github.com/stonatm/M5Atom_matrix_library
